<!DOCTYPE html>
<html>
  <head>
    <mate charest="utf-8" />
    <title>Object Document</title>
  </head>
  <body>
    <h1>Data List</h1>

    {{#each items}}
    <span>{{this}},</span>
    {{/each}}
  </body>
</html>
